
@{
    ViewData["Title"] = "MapView";
}

<h2>MapView</h2>
<div>
    <!---->
    <script>
        var timer = window.setInterval(reloadMap(), 90000);
        function reloadMap() { 
            frames["map"].location.reload(true);
        }
    </script>
    <iframe src=@Url.Action("Image",new {id=ViewData["MapId"]}) alt="Loading..." name="map" width="1344" height="1000">
    </iframe>
</div>
