
@{
    ViewData["Title"] = "MapView";
}

<h2>MapView</h2>
<div>
    <!---->
    <script>
        var timer = window.setInterval(reloadMap(), @ViewData["UpdateInterval"]);
        updateCount = 0;
        function reloadMap() { 
            frames[0].location.reload(true);
            
            updateCount += 1;
            document.getElementById("updateCount").innerText = "Update count: " + updateCount;
        }
    </script>
    <p id="updateCount">Update count: 0</p>
    <iframe src=@Url.Action("Image",new {id=ViewData["MapId"]}) alt="Loading..." id="map" width="1344" height="1000">
    </iframe>
</div>
